/* Global */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
label {
  display: block;
}

/* Container */
.container {
  max-width: 318px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Header */
.header {
  padding: 17px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  margin: 0 auto;
}

.page-logo {
  margin-right: 76px;

  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.span-logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-navigation-menu {
  display: none;
  align-items: flex-start;
  gap: 40px;
}

.header-link {
  padding: 24px 0;
  position: relative;

  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.after-link::after {
  display: none;
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: -8px;
  border-radius: 2px;
  background: #404bbf;
}

.header-link:active,
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-list-item > a:hover,
.header-list-item > a:focus {
  color: #404bbf;
}

.header-contacts-list {
  /* display: flex; */
  display: none;
  align-items: center;
  gap: 40px;
}

.header-contacts-link {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:active,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.mob-open-btn {
  display: flex;
  margin-left: auto;
  width: 24px;
  height: 24px;
  padding: 0px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.mob-menu {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mob-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  padding: 0px;
  margin-bottom: 24px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
}

.mob-navigation-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.mob-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link:active,
.mob-link:hover,
.mob-link:focus {
  color: #404bbf;
}

.mob-contacts {
  margin-top: auto;
}
.mob-contacts-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-contacts-link {
  margin-top: auto;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts-link:active,
.mob-contacts-link:hover,
.mob-contacts-link:focus {
  color: #404bbf;
}

.mob-social-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.mob-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-link:hover,
.mob-social-link:focus {
  background-color: #31d0aa;
}

/* Page */
.page {
  max-width: 1440px;
  padding: 72px 0;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/page-bg/Dark-bg-mob-1х.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/page-bg/Dark-bg-mob-2х.jpg);
  }
}

.page-title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 169px;
  margin: 0 auto 72px auto;
}

.page-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-button:hover {
  background-color: #404bbf;
}

.page-button:focus {
  background-color: #404bbf;
}

/* Advantages */
.advantages {
  padding: 96px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  flex-wrap: wrap;
}

.advantages-list-item {
  max-width: 288px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
}

.advantages-container {
  display: none;
  width: 264px;
  height: 112px;
  justify-content: center;
  align-items: center;
  border: 1px solid#8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  flex-shrink: 0;
  background-color: #f4f4fd;
}

.advantages-item-icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.advantages-list-item h3 {
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-item-name {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.advantages-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Team */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

@media screen and (max-width: 767px) {
  .team > .container {
    max-width: 296px;
  }
}

.team-name {
  margin-bottom: 72px;

  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.team-list-item {
  max-width: 296px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-img {
  max-width: 264px;
}

.team-item-name {
  margin-bottom: 8px;

  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-container {
  padding: 32px 0;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-icons {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.team-item-position {
  margin-bottom: 8px;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Portfolio */
.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
  margin: 0 auto;
}

.portfolio-item {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  background: #fff;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-img {
  max-width: 356px;
}

.portfolio-item-name {
  margin-bottom: 8px;

  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-type {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 40px 32px;
  background: #4d5ae5;
  color: #f4f4fd;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateX(0);
}

/* Footer */
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.container-logo {
  margin-bottom: 72px;
}

.footer-text {
  max-width: 264px;

  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.span-footer {
  color: #f4f4fd;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-text {
  display: flex;
  width: 100%;
  margin-bottom: 16px;

  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.container-media {
  margin-bottom: 72px;
}

.footer-social-icons {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form */
.footer-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.footer-label {
  margin-bottom: 16px;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.form-button {
  display: flex;
}

.footer-form-email {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #fff;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-email::placeholder {
  color: #fff;
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 0 24px;
  cursor: pointer;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;

  text-align: start;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-form-icon {
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;

  padding: 72px 16px 24px 16px;
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0px;
  cursor: pointer;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid #0000001a;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin: 0 auto 16px;

  text-align: center;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-input-area {
  width: 100%;
  margin-bottom: 8px;
}

.form-label {
  margin-bottom: 4px;

  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
}

.form-icon-area {
  position: relative;
}

.form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-area:focus-within {
  fill: #4d5ae5;
}

.modal-textarea {
  margin-bottom: 16px;
}

.form-textarea {
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus-within {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox-svg {
  width: 10px;
  height: 8px;

  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;

  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  display: inline-flex;

  color: #8e8f99;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  align-items: center;
}

.form-checkbox:checked + label span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-link {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: #fff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Media */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* Header */

  .header {
    padding: 16px 0;
  }

  .header-navigation-menu {
    display: flex;
  }

  .after-link::after {
    display: unset;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-contacts-link {
    color: #434455;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  .mob-menu {
    display: none;
  }

  .mob-open-btn {
    display: none;
  }

  /* Page */

  .page {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/page-bg/Dark-bg-tab-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/page-bg/Dark-bg-tab-2x.jpg);
    }
  }

  .page-title {
    margin: 0 auto 36px auto;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  /* Advantages */

  .advantages-list {
    gap: 72px 24px;
  }

  .advantages-list-item {
    max-width: calc((100% - 24px) / 2);
  }

  .advantages-item-name {
    text-align: start;
  }

  /* Team */
  .team > .container {
    max-width: 768px;
  }

  .team-list {
    gap: 64px 24px;
    justify-content: center;
  }

  .team-list-item {
    max-width: 264px;
  }

  /* Portfolio */
  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-list-item {
    max-width: calc((100% - 24px) / 2);
  }

  /* Footer */
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .footer-form {
    flex-direction: row;
  }

  .footer-label {
    text-align: start;
  }

  .footer-form {
    gap: 24px;
  }

  .container-logo {
    margin-right: 24px;
  }

  /* Backdrop */
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .checkbox-link {
    margin-left: 2px;
  }

  .label-span {
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    width: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Header */
  .header {
    padding: 24px 0;
  }

  .header-container {
    align-items: center;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .header-contacts-link {
    font-size: 16px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }

  .after-link::after {
    bottom: -4px;
  }

  /* Page */
  .page {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/page-bg/Dark-bg-pc-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .page {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/page-bg/Dark-bg-pc-2x.jpg);
    }
  }

  .page-title {
    margin: 0 auto 48px auto;
  }

  /* Advantages */
  .advantages {
    padding: 120px 0;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-container {
    display: flex;
  }

  .advantages-list-item {
    max-width: calc((100% - 72px) / 4);
  }

  .advantages-item-text {
    font-weight: unset;
  }
  .advantages-item-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  /* Team */
  .team > .container {
    max-width: 1158px;
  }

  .team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
  }

  .team-list-item {
    max-width: calc((100% - 72px) / 4);
  }

  /* Portfolio */
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  /* Footer */
  .footer {
    padding: 100px 0;
  }

  .footer-social-text {
    justify-content: flex-start;
  }

  .footer-social-list {
    justify-content: flex-start;
  }

  .footer-logo {
    justify-content: flex-start;
  }

  .container-logo {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .container-media {
    margin-right: 80px;
    margin-bottom: 0;
  }
}
